<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Overlay permission for floating button -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <!-- Floating button service -->
        <service
            android:name=".FloatingClipButtonService"
            android:exported="false" />
    </application>

</manifest>
